{% extends 'base.html.twig' %}

        {% block title %} Liste des tâches. {% endblock %}

        {% block body %}

         <div class="col-md-4 offset-md-1 left-column mb-1">
             <div class="list-group">
                 <a href="#" class="list-group-item list-group-item-action" style="background-color: #5060dc; color: white">
                     Semaine 2
                 </a>

                 {% for listing in listings  %}

                     <a href="{{ path('listing_show', {'listingID':listing.id }) }}" class="list-group-item list-group-item-action">
                         {{ listing.name }}
                     </a>

                 {% endfor %}


                 <a href="#" class="list-group-item list-group-item-action " style="background-color: whitesmoke" >
                     <form class="form-inline" action="{{ path('listing_create') }}" method="post">

                         <div class="form-group mx-sm-3 mb-2 ">
                             <input type="text" class="form-control " name="name" placeholder="Ajouter une tâche à faire">
                         </div>
                         <button type="submit" class="btn btn-primary mb-2" style="background-color: #5060dc;color: whitesmoke"><i class="fa fa-plus" > </i> </button>
                     </form>
                 </a>



             </div>
         </div>

         <div class="col-md-5 list mb-1">

             {% if currentListing %}
                 <nav class="nav nav-pills flex-column flex-sm-row">
                     <a class="flex-sm-fill text-sm-center nav-link " style="background-color: #5060dc;color: whitesmoke" href="#">{{ currentListing.name }}


                     </a>

                         <form class="form-inline">
                             <a href="{{  path('task_create', {'listingID': currentListing.id } ) }}">
                                 <button class="btn btn-primary" type="button">
                                     <i class="fa fa-plus"></i>
                                 </button>
                             </a>

                              <a href="{{  path('listing_delete', {'listingID': currentListing.id } ) }}">
                                  <button class="btn btn-outline-danger" type="button">
                                      <i class="fa fa-trash "></i>
                                  </button>
                              </a>
                         </form>
                 </nav>

                 <div class="row px-4 mt-3">

                     {% if currentListing.tasks | length %}
                         <table class="table table-striped">

                             <tbody>
                             {% for task in currentListing.tasks %}
                                 <tr>
                                     {% if task.done %}

                                             <td scope="row"> <a href="#"><del>{{ task.name }} </del>  </a> </td>
                                     {% else %}

                                             <td scope="row"> <a href="#"> {{ task.name }} </a> </td>

                                     {% endif %}

                                             <td scope="row"> <a href="{{ path('task_edit', {'listingID': currentListing.id , 'taskID':task.id }) }}"> <i class="fa fa-edit"></i> </a> </td>

                                            <td scope="row"> <a href="{{ path('task_delete', {'listingID': currentListing.id , 'taskID':task.id }) }}"> <i class="fa fa-minus"></i> </a> </td>


                                 </tr>
                             {% endfor %}

                             </tbody>
                         </table>

                     {% else %}

                         <h5> Aucune tâches existante .</h5>

                         <p> Vous pouvez creer une nouvelle tâche en cliquant <i class="fa fa-plus"> </i></p>

                     {% endif %}

                 </div>
             {% else %}
                <h5> Aucune List existante </h5>
                 <p>
                     Vous pouvez creer une nouvelle list een cliquant sur le bouton <i class="fa fa-plus " style="background-color: #5060dc;color: whitesmoke"></i>
                 </p>


             {% endif %}
         </div>



        {% endblock %}

