{% extends 'base.html.twig' %}

        {% block title %} Liste des tâches. {% endblock %}

        {% block body %}

         <div class="col-md-4 offset-md-1 left-column mb-1">
             <div class="list-group">
                 <a href="#" class="list-group-item list-group-item-action active">
                     Semaine 2
                 </a>

                 {% for listing in listings  %}

                     <a href="{{ path('task_show', {'taskID':listing.id }) }}" class="list-group-item list-group-item-action">
                         {{ listing.name }}
                     </a>

                 {% endfor %}


                 <a href="#" class="list-group-item list-group-item-action " style="background-color: whitesmoke" >
                     <form class="form-inline" action="{{ path('task_create') }}" method="post">

                         <div class="form-group mx-sm-3 mb-2 ">
                             <input type="text" class="form-control " name="name" placeholder="Ajouter une tâche à faire">
                         </div>
                         <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-plus"> </i> </button>
                     </form>
                 </a>



             </div>
         </div>

         <div class="col-md-5 list mb-1">

             {% if currentTask %}
                 <nav class="nav nav-pills flex-column flex-sm-row">
                     <a class="flex-sm-fill text-sm-center nav-link active" href="#">{{ currentTask.name }}


                     </a>

                         <form class="form-inline">
                              <a href="{{  path('task_delete', {'taskID': currentTask.id } ) }}">
                                  <button class="btn btn-outline-danger" type="button">
                                      <i class="fa fa-trash"></i>
                                  </button>
                              </a>
                         </form>

                 </nav>
             {% else %}
                <h5> Aucune List existante </h5>
                 <p>
                     Vous pouvez creer une nouvelle list een cliquant sur le bouton <i class="fa fa-plus"></i>
                 </p>


             {% endif %}
         </div>



        {% endblock %}

